.form-list-item{
  border-left: 1px solid #eae1e1;
  border-right: 1px solid #eae1e1;
}
.form-name:hover{
  text-decoration: underline;
  color: blue;
}

/* New UI Styles */
/* Author: PK */
.task-ActionBar {
  opacity: 0;
  width: auto;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.task-list:hover {
  background-color: #E9ECEF;
}

.task-list:hover .task-ActionBar {
  opacity: 1;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.wu-no-data-found{
  text-align: center;
}