
<div class="card full-height">
  <div class="card-header">
    <div class="card-head-row">
      <div class="card-title">{{taskName}} - Work Assignments</div>
      <div class="card-tools">
        <div class="btn-group" *ngIf="showOrHide()">
          <button type="button" title="{{assignKeys['createWorkAssignMent']}}"
          class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent" 
          *ngIf="enablePopup"
          (click)="openModal(template)">
            <i class="fas fa-plus icon-color"></i>
          </button>
          <button type="button" 
           class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent"
           *ngIf="!enablePopup" title="{{assignKeys['createWorkAssignMent']}}"
           (click)="createWorkAssignment(taskId, undefined)">
            <i class="fas fa-plus icon-color"></i>
          </button>
        </div>
        <button type="button" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent" (click)="BackToTasks()"
              title="{{assignKeys['label_Back']}}"><i class="fas fa-arrow-left icon-color"></i>
        </button>
        <!-- <div class="float-right padding">
          <a href="javascript:;" (click)="BackToTasks()">
              <i class="fas fa-arrow-left" title="Back"></i>
          </a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="taskWAList  && taskWAList.length >0">
    <div class="taskWA-list" *ngFor="let taskWA of taskWAList;let i='index'">
      <div class="d-flex">
        <div class="flex-1 ml-2 pt-1">
          <h6 class="text-uppercase fw-bold mb-1">{{taskWA.name}}</h6>
          <small class="text-muted">
            <span title="{{assignKeys['label_StartDate']}}">
              <i class="fas fa-calendar-check icon-color"></i> {{taskWA.startDate | date:'mediumDate'}}
            </span>|
            <span title="{{assignKeys['label_EndDate']}}">
              <i class="fas fa-calendar-times icon-color"></i> {{taskWA.endDate | date:'mediumDate'}}
            </span>
          </small>
        </div>
        <div class="float-right taskWA-ActionBar pt-3">
          <button type="button" *ngIf="showOrHide()" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent"
          (click)="editTaskAssignment(taskWA)" title="{{assignKeys['editWorkAssignMent']}}">
            <i class="far fa-edit icon-color"></i>
          </button>
          <app-work-assignment-delete *ngIf="showOrHide()" [assignmentId] = "taskWA._id" (notifyParentOnUpdate)='onDeleteItem($event)' ></app-work-assignment-delete>
          <button class="btn btn-icon btn-border btn-round btn-xs btn-transparent mr-2"
          (click)="getSubmittedRecords(taskWA)" title="{{assignKeys['label_Submitted']}}">
          <img [src]='recordsIcons.getRecords' alt="Submitted records">
        </button>
        <button *ngIf="isPrepop" class="btn btn-icon btn-border btn-round btn-xs btn-transparent mr-2"
        (click)="getPendingRecords(taskWA)" title="{{assignKeys['label_Pending']}}">
        <img [src]='recordsIcons.pending' alt="Pending records">
      </button>
          <!-- <button type="button" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent"
          (click)="deleteTaskAssignment(taskWA._id)" title="Delete Work Assignment">
            <i class="far fa-trash-alt"></i>
          </button> -->
        </div>
      </div>
      <div class="separator-dashed"></div>
    </div>
    
  </div>
  <div *ngIf="taskWAList && !taskWAList.length" align="center">
    <img [src]="Imgsrc" class="img-responsive">
  </div>
  <ng-template #template>
      <div class="modal-body text-center">
        <p>Do you want to attach prepop excel sheet?</p>
        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="createWorkAssignment(taskId,true)">Yes</button>
        <button type="button" class="btn btn-sm btn-error" (click)="createWorkAssignment(taskId,false)">No</button>
      </div>
    </ng-template>
</div>


