
<ul class="list-unstyled">
  <li class="webuser-cursor-pointer hover-opacity-change menu-item-view ">
    <a  (click)="profileInfoCall()">
      <h2 class="text-white">My Profile</h2>
    </a>
  </li>
  <li class="webuser-cursor-pointer hover-opacity-change menu-item-view">
      <a  (click)="changePasswordCall()">

        <h2 class="text-white">Change Password</h2>
      </a>
  </li>
  <li class="webuser-cursor-pointer hover-opacity-change menu-item-view">
      <a  (click)="logOutCall()">
          <h2 class="text-white">Logout</h2>
      </a>
  </li>

</ul>
