.headre-break{
    height: 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 1px;

}

.close-header{
    border-left: 6px solid gray !important;
    border-bottom: 6px solid gray !important;
    border-right: 6px solid gray !important;
    border-radius: 6px !important;
    height: 20px;
}
