<!-- <ngx-smart-modal #myModal identifier="myModal"> -->

<div class="card shadow mb-4 wizard-container wizard-round col-md-12">
  <div class="card-header">
    <div class="card-head-row">
      <div class="card-tools">
        <div class="btn-group">
          <div class="float-right padding">
            <button type="button" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent"
            [routerLink]="['/mainLayout','forms']" title="{{formKeys['label_Back']}}"><i class="fas fa-arrow-left icon-color"></i>
             </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-head-row card-tools-still-right">
      <h4 class="card-title font-weight-bold text-primary">Create Form</h4>
      <div class="card-tools">
       
      </div>
    </div> -->
  </div>
  <div class="card-body">
    <form class="m-l-20 m-r-20" [formGroup]="createForm" (ngSubmit)="goToFormBuildArea()" [autocomplete]="autoCompleteForm">

      <!-- <div *ngIf="loginDetails.type!=='0'"> -->

        <!-- Form Name  -->
        <div class="form-group form-group-default">
          <label>{{formKeys['label_Formname']}}<span class="required-label">*</span></label>
          <input [autocomplete]="autoCompleteField" type="text" class="form-control" name="create-form-name" placeholder="Enter form name" [formControlName]="formKeys['name']" 
            [ngClass]="{ 'is-invalid': submitted && f[formKeys['name']].errors }" appSpecialCharacter myNoSpaces appTrimValues>
          <div *ngIf="submitted && f[formKeys['name']].errors" class="invalid-feedback">
            <span *ngIf="f[formKeys['name']].errors.required" class="form-text text-red">{{formKeys['required_FormName']}}</span>
            <span *ngIf="!f[formKeys['name']].errors.required && f[formKeys['name']].errors.whitespace" class="form-text text-red">{{f[formKeys['name']].errors.whitespace}}</span>

          </div>
          <small class ="required-label" *ngIf="submitted && isFromExist">
            {{formKeys['formnameExists']}} 
          </small>
        </div>

        <div class="form-group form-group-default">
          <label> {{formKeys['label_OwnerMail']}}<span class="required-label">*</span></label>
          <input type="text" class="form-control" name="ownerMail" placeholder="Enter EmailId" [formControlName]="formKeys['alternativeMailid']"  
          [ngClass]="{'disabledList':true }">
        </div>

        <div class="form-group form-group-default">
          <label>{{formKeys['label_OwnerName']}}<span class="required-label">*</span></label>
          <input type="text" class="form-control" name="ownerName" placeholder="Enter Owner Name" [formControlName]="formKeys['createdBy']"
          [ngClass]="{'disabledList':true }">
        </div>

        <div class="form-group form-group-default">
          <label>{{formKeys['label_AccName']}}<span class="required-label">*</span></label>
          <input type="text" class="form-control" name="ownerDept" placeholder="Enter Owner Account Name"
          [formControlName]="formKeys['department']"  [ngClass]="{'disabledList':true }">
        </div>

        <div class="form-group form-group-default">
          <label>{{formKeys['label_formCat']}}<span class="required-label">*</span></label>
            <ng-multiselect-dropdown class="form-control" 
                [placeholder]="'Select Category'" 
                [settings]="dropdownSettings"
                [data]="categoriesList"
                [formControlName]="formKeys['formzCategory']"
                name="formzCategory" 
               
                [ngClass]="{ 'is-invalid': submitted && f[formKeys['formzCategory']].errors }">
            </ng-multiselect-dropdown>
            <div *ngIf="submitted && f[formKeys['formzCategory']].errors" class="invalid-feedback">
                <span *ngIf="f[formKeys['formzCategory']].errors.required" class="form-text text-red">{{formKeys['required_category']}}</span>
              </div>
        </div>
        <div class="form-group form-group-default">
            <label>{{formKeys['label_formType']}}<span class="required-label">*</span></label>
            
            <select [formControlName]="formKeys['category']"   class="form-control"  name="category">
                <option value="Public">{{formKeys['Public']}}</option> 
                <option value="Private">{{formKeys['Private']}}</option>
            </select>
          </div>
          <div class="form-group form-group-default" *ngIf="createForm.value.category=='Private'">
              <label>{{formKeys['label_Users']}}</label>
                <ng-multiselect-dropdown class="form-control" 
                    [placeholder]="'select Users'" 
                    [settings]="dropdownSettings3"
                    [data]="usersListForMap"
                    [formControlName]="formKeys['allocatedUsers']"
                    name="allocatedUsers" 
                   
                    >
                </ng-multiselect-dropdown>
                <span *ngIf="submitted && isErr && !createForm.value.allocatedUsers.length>0" class="errorText">{{formKeys['required_Users']}}</span>
            </div>

        <div class="form-group form-group-default">
            <label>{{formKeys['label_Description']}}</label>
            <textarea class="form-control" name="description" placeholder="Enter form description" rows="3"  [formControlName]="formKeys['description']">
                
            </textarea>
        </div>

        <div class="form-group form-group-default">
            <label>{{formKeys['label_Instructions']}}</label>
            <textarea class="form-control" name="workInstruction" placeholder="Provide workInstruction" rows="3" [formControlName]="formKeys['workInstruction']">

            </textarea>
        </div>

        <div class="form-group form-group-default">
          <label>{{formKeys['label_Excel']}}</label>
          <!-- <input type="file" class="custom-file-input"> -->
          <input type="file"  (change)="onFileChange($event)" accept=".xlsx" #formBuilderFile>
          <button type="button" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent" (click)="excelTemplate()"
            title="{{formKeys['downloadTemplate']}}">
            <i class="fa fa-download icon-color"></i>
          </button>
        </div>
        <div class="form-group">
            <div class="col-md-3 offset-md-5">
                <button class="btn btn-outline-primary btn-rounded btn-sm mr-2" type="submit">{{formKeys['label_Go']}}</button>
                <button class="btn btn-outline-danger btn-rounded btn-sm" type="button" [routerLink]="['/mainLayout','forms']">{{formKeys['label_Cancel']}}</button>
            </div>
        </div>
      <!-- </div> -->
    </form>
  </div>
</div>


<!-- <button (click)="myModal.close()">Close</button>
  </ngx-smart-modal> -->
