<div class="main-header">
  <!-- Logo Header -->
  <div class="logo-header p-0" data-background-color="white">

    <a class="logo">
      <img [src]="orgImage" alt="Spatial Now" class="navbar-brand" style="width: 60px;">
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-target="collapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <!-- <i class="icon-menu"></i> -->
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
      </span>
    </button>

    <button class="topbar-toggler more" (click)="openHeaderRightMenu()">
      <i class="icon-options-vertical"></i>
    </button>

  </div>
  <!-- End Logo Header -->

  <!-- Navbar Header -->
  <nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">

    <div class="container-fluid p-r-0">
      <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
        <li class="nav-item dropdown hidden-caret">
          <a class="nav-link mr-3" target="_blank" href="http://support.magiknow.com/login" title="{{constants['helpDesk']}}">
            <i class="fas fa-question"></i>
          </a>

          <a class="dropdown-toggle profile-pic mr-2" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
            <div class="avatar-sm avatar avatar-online">
              <img [src]="imagePath" (error)="errorHandler($event)" alt="..." class="avatar-img rounded-circle">
            </div>
          </a>

          <ul class="dropdown-menu dropdown-user animated fadeIn">
              <div class="dropdown-user-scroll scrollbar-outer">
                <li>
                  <div class="user-box">
                    <div class="avatar-lg">
                      <img [src]="imagePath" (error)="errorHandler($event)" alt="" class="avatar-img rounded"></div>
                    <div class="u-text">
                      <h4 class="text-uppercase" title="{{headerInfo.name+' '+headerInfo.lastname}}">{{headerInfo.name | largeTextElipse :15}} {{headerInfo.lastname}}
                      </h4>
                      <p class="text-muted" title="{{headerInfo.email}}">{{headerInfo.email | largeTextElipse:18 }}</p>
                    </div>
                  
                  </div>

                  <div>
                    <span class="text-muted m-b-0 lastlogin-text" >Last login on:</span>
                    <p class="text-muted m-b-0" >{{headerInfo.lastLoggedInTime | date: 'MM/dd/yyyy HH:MM:SS'}} </p>
                  </div>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="profileInfo(headerInfo)">{{constants['myProfile']}}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="changePassword(headerInfo)">{{constants['changePwd']}}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logOut(headerInfo)">{{constants['logOut']}}</a>
                </li>
              </div>
          </ul>



        </li>
      </ul>


    </div>
  </nav>
  <!-- End Navbar -->

  <ngx-smart-modal #newModal [identifier]="'newModal'" [closable]="false">
      <div class="modal-header" *ngIf="newModal.getData()">
        <h4 class="modal-title">Profile Info - {{newModal.getData().name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="newModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="newModal.getData()">
        <table class="table table-bordered">
          <tr>
            <td>Name :</td>
            <td>{{newModal.getData().name || 'NA'}}</td>
          </tr>
          <tr>
            <td>Email :</td>
            <td>{{newModal.getData().email || 'NA'}}</td>
          </tr>
          <tr>
            <td>Phone :</td>
            <td>{{newModal.getData().phone || 'NA'}}</td>
          </tr>
          <!-- <tr>
                    <td>Privilege :</td>
                    <td>{{data.privilege[0] || 'NA'}}</td>
                </tr> -->
        </table>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" (click)="onConfirm()">Yes</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">No</button>         -->
      </div>
  </ngx-smart-modal>
</div>

<div id="myNav" class="overlay d-block   d-md-none">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
      <app-side-bar-menu (closeOverLay)="closeOverLay()"></app-side-bar-menu>
  </div>
</div>

<div id="headerRightMenu" class="overlay d-block   d-md-none">
  <a href="javascript:void(0)" class="closebtn" (click)="closeHeaderRightMenu()">&times;</a>
  <div class="overlay-content">
      <app-web-user-header-right-menu
      (closeOverLay)="closeHeaderRightMenu()"
      (profileInfo) ="profileInfoEvent($event)"
      (changePassword) = "changePasswordEvent($event)"
      (logOut) = "logOutEvent($event)"
      [userObjcet] ="headerInfo"
      ></app-web-user-header-right-menu>
  </div>
</div>
