/*bread crumb csss start*/
.custom-page-title{
    font-size: 18px;
    font-weight: 400;
    color: #6e5ad4;
    line-height: 30px;
}
.custom-bread-crumbs{
    list-style: none;
    display: inline;
    border-left: 2px solid #efefef;
    margin-left: 25px;
    padding-left: 25px;
    padding-top: 11px;
    /* padding-top: 8px;
    padding-bottom: 8px; */
   
}
.custom-bread-crumbs li {
    display: inline-block;
}

.breadcrumbs li.separator {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.custom-row{
    padding-left: 12px;
    padding-bottom: -2px;
    margin-bottom: -17px;
    margin-top: 9px;
   
}
/*bread crumb csss end*/



.webuser-workorders-card {
    max-width: 100%;
}
.webuser-workorders-card .card-text {
    word-wrap: break-word;
}
.custom-card-workorders-list{
    margin-left: 9px;
    margin-right: 9px;
}
.add-newworkorder-text{
   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.primary-color-text{
    color:rgb(93, 172, 250);
}

.primary-color-icon{
    color:rgb(14, 128, 235);
}

.point-curosr{
    cursor: pointer !important;
}


