<div class="row p-5 animated fadeIn">
  <div class="kanban-board col-md-12" [ngStyle]="{'background-color':setColor()}">
    <header class="kanban-board-header success">
      <div class="kanban-title-board">
          <app-common-form-labels [widget]="config"></app-common-form-labels>
        <!-- <img [src]='WidgetInfo.displayIcon' alt="{{WidgetInfo.displayText}}" class="dragged_Widget_Img">
        {{WidgetInfo.displayText}}  -->
      </div>
      <app-common-formaction-view [config]="config" *ngIf="ispreview!='preview' &&  ispreview != 'Edit'"></app-common-formaction-view>
    </header>
    <form [formGroup]="group">
      <div class="form-group form-group-default" *ngIf="ispreview == 'preview' ||ispreview == 'Edit' ">
        <!-- <label for="form-Calculator" class="p-5">{{config[widgetKey.label] || "Calculator" }}
          <span class="required-label" *ngIf="config[widgetKey.isRequired]">*</span>
        </label> -->
        <span >
          <input  type="text" id="form-input" class="form-control"  [formControlName]="config[widgetKey._id]" [ngClass]="{'disabledEvent':ispreview == 'preview' }" />
        </span>
      </div>
    </form>
  </div>
</div>
