<span *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false : isTable ? true : config[widgetKey.isUnderHeading].length==0?true:config[widgetKey.isUnderHeading]== expendedHeaderId?true:false">
    <div class="card webuser-form-header webuser-cursor-pointer form-widget-card-margin-left card-border-box"   *ngIf="config[widgetKey._id] !== expendedHeaderId" >
        <div class="card-body">
          <span>
            <b>  {{config[widgetKey.label]}}</b><span *ngIf="config[widgetKey.isRequired] == true" class="webuser-mandatory-indicator-color"> *</span>
          </span>
          <span class=" pull-right ">
            <!-- <img *ngIf="!historyView" class="upload-media-file-avatar webuser-cursor-pointer" width="100" height="100" [hidden]="!imageDataValue"
              [src]="imageDataValue" alt="preview" (click)="viewImage(imagePreview)"> -->
              <span (click)="viewImage(imagePreview)">
                <img *ngIf="group.get(config[widgetKey._id]).value" class="upload-media-file-avatar webuser-cursor-pointer" width="100" height="100"
              [src]="imageDataValue" alt="preview" >
              </span>
            

              <label class="btn btn-primary btn-sm fon-label" [hidden]="historyView">
                <i class="fas fa-camera icon-white " ><span class="upload-text">Upload</span></i>
                <input (change)="openSignatureModal($event)" type="file" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;" #uplaodImageRef accept="image/*">
              </label>

          </span>
        </div>
    </div>
  <app-validation [dynamicFormControlRef]="group.get(config[widgetKey._id])" >

  </app-validation>
</span>

<ng-template #imagePreview class="table-widget-add-row " >
  <app-form-image-preview [modalRef]="modalRef" [imgSrc]="imageDataValue" (removeImage)="removeattachdeImage($event)" [isHistory]="historyView" [actionType]="activatedRoute.snapshot.params.actionType"></app-form-image-preview>
</ng-template>
