.sidebar-icon-webuser-mobile-view {
  height: 70px;
  margin-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid red;
}

.sidbar-mneu-bottome-border{
  border-bottom: 2px solid #bfb9b9;
  width: 90%;
  margin-left: 20px;
}
