<ul class="list-unstyled">
  <li class="webuser-cursor-pointer hover-opacity-change ">
      <a (click)="gotoAssignmnet()"  tooltip="Assignments" placement="right">
        <img [src]='sidebarIcons.assignmentIcon' alt="Assignments" class="sidebar-icon-webuser-mobile-view">
        <span class="text-white">Assignments</span>
      </a>

  </li>
  <li style="margin-left: -40px;" class="webuser-cursor-pointer hover-opacity-change">
    <a (click)="gotoForms()" tooltip="Forms" placement="right">
      <img [src]='sidebarIcons.formsIcon' alt="Forms" class="sidebar-icon-webuser-mobile-view">
      <span class="text-white">Forms</span>
    </a>

  </li>

</ul>
