<div class="login">
  <div class="wrapper wrapper-login wrapper-login-full p-0" >
    <div class="login-aside w-60 d-flex flex-column align-items-center justify-content-center text-center bg-info-gradient">
      <!-- <h1 class="title fw-bold text-white mb-3">FORMSZ-3.X</h1>
      <p class="subtitle text-white op-7">Description comes here...</p> -->
      <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" [showIndicators]="showIndicators" [noWrap]="noWrap">
          <slide *ngFor="let slide of carousal; let index=index">
            <img [src]="slide.image" alt="image slide" class="img-fluid animated fadeIn">
            <!-- <div class="carousel-caption">
              <h4>Slide {{index}}</h4>
              <p>{{slide.text}}</p>
            </div> -->
          </slide>
        </carousel>
    </div>

    <!-- BLOCK-2 CHANGE PASSWORD-->
		<div class="login-aside w-40 d-flex align-items-center justify-content-center bg-white bg-white-gradient">
    <div class="container container-signup container-transparent animated fadeIn">
      <h3 class="text-center">
        <a>
          <img class="loginImg" [src]="imageSrc" alt="Spatial Now">
        </a>
        <p>{{constants['changePassword']}}</p>
      </h3>
      <!-- Main Login  -->
      <div class="login-form">
        <form [formGroup]="changePWDForm" (ngSubmit)="onChangePWD()">

          <div class="form-group">
            <label for="oldpassword" class="placeholder ml-2 op-7"><b>{{constants['currentPassword']}}<span class="required-label">*</span></b></label>
            <div class="position-relative">
              <input type="password" class="form-control" (focusout)="verifyPassword($event)" formControlName="oldpassword" (input)="changeCurrentPwd()" appPassword>
            </div>
            <div *ngIf="isValidFormSubmitted && f.oldpassword.errors && currentPwdValid" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.oldpassword.errors.required" class="errorText">{{constants['currentPwdMsg']}}</small>
            </div>
            <div *ngIf="f.oldpassword.dirty && f.oldpassword.errors && !isValidFormSubmitted && currentPwdValid" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.oldpassword.errors.required" class="errorText">{{constants['currentPwdMsg']}}</small>
            </div>
            <small class="form-text" *ngIf="!currentPwdValid" class="errorText">{{constants['pwdErrMsg']}}</small>
          </div>

          <div class="form-group">
            <label for="password" class="placeholder ml-2 op-7"><b>{{constants['newPassword']}}<span class="required-label">*</span></b></label>
            <div class="position-relative">
              <input type="password" class="form-control" name="newpassword" formControlName="newpassword" appPassword>
              <!-- <input type="password" *ngIf="!currentPwdValid" class="form-control" name="newpassword" formControlName="newpassword" [readonly]="true"> -->
            </div>
            <div *ngIf="isValidFormSubmitted && f.newpassword.errors" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.newpassword.errors.required" class="errorText">{{constants['newPwdMsg']}}</small>
              <small class="form-text" *ngIf="f.newpassword.errors.pattern" class="errorText">{{constants['patternInvalidMsg']}}</small>
            </div>
            <div *ngIf="f.newpassword.dirty && f.newpassword.errors && !isValidFormSubmitted" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.newpassword.errors.required" class="errorText">{{constants['newPwdMsg']}}</small>
              <small class="form-text" *ngIf="f.newpassword.errors.pattern" class="errorText">{{constants['patternInvalidMsg']}}</small>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="placeholder ml-2 op-7"><b>Confirm New Password<span class="required-label">*</span></b></label>
            <div class="position-relative">
              <input type="password" class="form-control" name="confirmnewpassword" formControlName="confirmnewpassword"
                appPassword>
            </div>
            <div *ngIf="isValidFormSubmitted && f.confirmnewpassword.errors" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.confirmnewpassword.errors.required" class="errorText">{{constants['newPwdMsg']}}</small>
              <small class="form-text" *ngIf="f.confirmnewpassword.errors.pattern" class="errorText">{{constants['patternInvalidMsg']}}</small>
              <small class="form-text" *ngIf="f.confirmnewpassword.errors?.MatchPassword" class="errorText">{{constants['pwdMismatchMsg']}}</small>
            </div>
            <div *ngIf="f.confirmnewpassword.dirty && f.confirmnewpassword.errors && !isValidFormSubmitted" class="ml-2 op-7">
              <small class="form-text" *ngIf="f.confirmnewpassword.errors.required" class="errorText">{{constants['newPwdMsg']}}</small>
              <small class="form-text" *ngIf="f.confirmnewpassword.errors.pattern" class="errorText">{{constants['patternInvalidMsg']}}</small>
              <small class="form-text" *ngIf="f.confirmnewpassword.errors?.MatchPassword" class="errorText">{{constants['pwdMismatchMsg']}}</small>
            </div>
          </div>

          
          <div class="row form-action mb-3">
              <div class="col-md-6">
                <a href="javascript:;" id="show-signin" class="btn btn-danger btn-link w-100 fw-bold" (click)="loginBlock()">Cancel</a>
              </div>
              <div class="col-md-6">
                <!-- [disabled]="!currentPwdValid" -->
                <button type="submit" class="btn btn-info btn-round w-100 fw-bold mr-3" >Change</button>
              </div>
            </div>

          <!-- <small class="form-text" *ngIf="cPWD_Err">{{cPWD_errMsg}}</small> -->

        </form>
      </div>
      <p class="errorText"><strong style="color:black">Note:</strong>{{constants['pwdNote']}} </p>
    </div>
    </div>
  <!-- END BLOCK-2 CHANGE PASSWORD-->
  </div>
</div>