/* .avatar-img .img-edit{
    position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,.38);
	text-align: center;
	padding: 10px 10px 11px;
}

.avatar-img:hover{
    background: rgba(0,0,0,.38);
 
} */
.setHeight{
   height:172px;
   max-height: 172px;
}
.imagehover {
    position:relative;
    display:inline-block;
 }
 .overlay {
    display:none;
 }
 .imagehover:hover .overlay  {
    width:100%;
    height:100%;
    /* background: rgba(0,0,0,.38); */
    position:absolute;
    top:10;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
 }
 .overlay > button{
    cursor: pointer;
 }
 .backgroundImg{
   background:  url('../../../../assets/img/blogpost.jpg') no-repeat ;
 }
