<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-primary">

        <li class="nav-item" routerLinkActive="active">
          <a (click)="gotoAssignmnet()" tooltip="{{constants['toolTipAssignments']}}" placement="right"
            [ngClass]="{'bgActive':activeIcon === 'assignmnet'}">
            <img [src]='sidebarIcons.assignmentIcon' alt="Assignments" class="sidebarImg">
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a (click)="gotoForms()" tooltip="{{constants['toolTipForms']}}" placement="right"
            [ngClass]="{'bgActive':activeIcon === 'forms'}">
            <img [src]='sidebarIcons.formsIcon' alt="Forms" class="sidebarImg">
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- <div class="sidebar sidebar-style-2 web-user-siderbar">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-primary">
        <li title="Assigmnets" style="margin-top: -17px;" class="nav-item" routerLinkActive="active"
          class="webuser-sidebarImg" [ngClass]="{'bg-active-color':activeIcon === 'assignmnet'}">
          <a (click)="gotoAssignmnet()" tooltip="Assignments" placement="right" show-delay="200">
            <img [src]='sidebarIcons.assignmentIcon' alt="Assignments" class="sidebar-icon-webuser">
          </a>
        </li>
        <li title="Forms" class="nav-item" class="webuser-sidebarImg"
          [ngClass]="{'bg-active-color':activeIcon === 'forms'}">
          <a (click)="gotoForms()" tooltip="Forms" placement="right" show-delay="200">
            <img [src]='sidebarIcons.formsIcon' alt="Forms" class="sidebar-icon-webuser">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
