
<footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="http://www.magikminds.com" target="_blank">
              Copyright &copy; MagikMinds Software services Pvt Ltd. 2019
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
        Powered by <a href="http://www.magikminds.com" target="_blank">Magikminds</a>
      </div>				
    </div>
  </footer>