.custom-class{
    background-color: #dc3545;
  }
  
  .default-color{
    background-color: white;
  }
  /* .note{
    color:#aedaebc4;
  } */
  .table td, .table th {
    font-size: 14px;
    border-top-width: 0px;
    border-bottom: 1px solid;
    border-color: #ebedf2 !important;
    padding: 0 25px !important;
    height: 40px;
    vertical-align: middle !important;
    width:14%;
}
.upload{
  margin-left:1%;
}
.close{
  margin-left:5%;
}
.edit{
  background-color: #7BBCE8;
}
.delete{
  background-color: #E15716;
  margin-left:5%
}
.legend {
  display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin-right: 5px;
    margin-bottom: 6px;
    color: black;
    font-size: 12px;
}