<div class="card" *ngIf="tableData">
  <div class="card-header">
    <div class="card-head-row card-tools-still-right">
      <h4 class="card-title">{{constants[selected]}}</h4>
      <div class="card-tools">
        <button class="btn btn-icon btn-link btn-xs addColor" (click)="close(selected)" title="{{constants['label_Close']}}"><span
            class="fa fa-times"></span></button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <!-- <div class="card-sub">
      {{constants[selected]}}
      <button type="button" class="btn btn-icon btn-border btn-round mr-2 btn-xs btn-transparent float-right" (click)="close(selected)" title="Close">
          <i class="fas fa-times"></i></button>
    </div> -->
    <div class="table-responsive" *ngIf="tableData && tableData.length">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col" *ngFor="let heading of keys">{{constants[heading]}}</th>
            <th scope="col" *ngIf="selected=='consumedLicensesList'|| selected=='lockedAccountUser'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of tableData | paginate: { itemsPerPage: limit, currentPage: pageNumber,id:selected}">
            <td *ngFor="let  data of keys">{{obj[data] || 'NA' | typeCheck }}</td>
            <td *ngIf="selected=='consumedLicensesList'">
              <a href="javascript:;" (click)="releaseLicense(obj)" title="{{constants['label_Delete']}}"><i
                  class="far fa-trash-alt icon-color"></i></a></td>
                
          </tr>
        </tbody>
      </table>
    </div>
    <div align="center" *ngIf="tableData && !tableData.length">
      <img [src]="noDataImg" class="img-responsive">
    </div>
  </div>
  <pagination-controls (pageChange)="pageNumber = $event" *ngIf="tableData.length>0" [id]="selected">
  </pagination-controls>

</div>
