<span *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false : isTable ? true : config[widgetKey.isUnderHeading].length==0?true:config[widgetKey.isUnderHeading]== expendedHeaderId?true:false">
  <div  [formGroup]="group" class="form-group" >
        <label  [for]="config[widgetKey._id]" class="web-user-widget-label">{{config[widgetKey.label]}} </label><span *ngIf="config[widgetKey.isRequired] == true" class="webuser-mandatory-indicator-color pl-5"> *</span>
        <div class="input-group mb-3 ">

            <input  disabled [ngClass]="{'webuseer-formcontroll-error':group.get(config[widgetKey._id]).invalid === true && group.get(config[widgetKey._id]).dirty === true,
            'webuser-formcontroll-sucess':group.get(config[widgetKey._id]).valid === true &&  group.get(config[widgetKey._id]).dirty === true
           }"
            [formControlName]="config[widgetKey._id]"  type="text" class="form-control web-user-widget" [id]="config[widgetKey._id]" [required]="config[this.widgetKey.isRequired]">
            <div class="input-group-append" [hidden]="historyView">
              <span class="input-group-text">
                <button class="btn btn-primary btn-sm calculeation-btn-over" (click)="executeFormula(config)">
                    <i class="fas fa-equals"></i>

                </button>
              </span>
            </div>
        </div>

     </div>

    <app-validation [dynamicFormControlRef]="group.get(config[widgetKey._id])" >

    </app-validation>
</span>
