/* @PK CSS */

.card-detail {
    z-index: 2;
    opacity: 0;
    width: auto;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  
  .card-round:hover .card-detail {
    opacity: 1;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  /* Author: PK */
.workflow-ActionBar {
  opacity: 0;
  width: auto;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.workflow-list:hover {
  background-color: #E9ECEF;
}

.workflow-list:hover .workflow-ActionBar {
  opacity: 1;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}